flows.json
[{"id":"8d8a7de8.b4d02","type":"tab","label":"Watson Assistant","disabled":false,"info":""},{"id":"61ba5762.b09fc8","type":"ui_form","z":"8d8a7de8.b4d02","name":"","label":"","group":"f9cd9657.6a57d8","order":1,"width":0,"height":0,"options":[{"label":"What's your query?","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":260,"wires":[["1e559530.aa7a5b"]]},{"id":"1e559530.aa7a5b","type":"function","z":"8d8a7de8.b4d02","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["8830829.717598","2a396b04.c5e8a4"]]},{"id":"8830829.717598","type":"watson-conversation-v1","z":"8d8a7de8.b4d02","name":"Chatbot","workspaceid":"94ddb120-0364-4672-b004-825ae39383cf","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/266cf489-c6f4-4334-92c4-5e9f5416c55a","timeout":"","optout-learning":false,"x":480,"y":180,"wires":[["30a129ff.3fd926","58c8e598.1598bc"]]},{"id":"2a396b04.c5e8a4","type":"ui_text","z":"8d8a7de8.b4d02","group":"f9cd9657.6a57d8","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":380,"wires":[]},{"id":"58c8e598.1598bc","type":"function","z":"8d8a7de8.b4d02","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload= \"please rephrase your query\";\n    return msg;\n}\nmsg.payload= msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["6c37f958.7979c8"]]},{"id":"30a129ff.3fd926","type":"debug","z":"8d8a7de8.b4d02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":120,"wires":[]},{"id":"6c37f958.7979c8","type":"ui_text","z":"8d8a7de8.b4d02","group":"f9cd9657.6a57d8","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":880,"y":380,"wires":[]},{"id":"f9cd9657.6a57d8","type":"ui_group","z":"","name":"CHATBOT","tab":"17ed62fa.b9275d","order":1,"disp":true,"width":7,"collapse":false},{"id":"17ed62fa.b9275d","type":"ui_tab","z":"","name":"BANKING","icon":"dashboard","disabled":false,"hidden":false}]