Node-RED flow.json
[{"id":"8d8a7de8.b4d02","type":"tab","label":"Watson Assistant","disabled":false,"info":""},{"id":"61ba5762.b09fc8","type":"ui_form","z":"8d8a7de8.b4d02","name":"","label":"","group":"f9cd9657.6a57d8","order":1,"width":0,"height":0,"options":[{"label":"What's your query?","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":280,"wires":[["1e559530.aa7a5b"]]},{"id":"1e559530.aa7a5b","type":"function","z":"8d8a7de8.b4d02","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["8830829.717598","2a396b04.c5e8a4"]]},{"id":"8830829.717598","type":"watson-conversation-v1","z":"8d8a7de8.b4d02","name":"Chatbot","workspaceid":"94ddb120-0364-4672-b004-825ae39383cf","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/266cf489-c6f4-4334-92c4-5e9f5416c55a","timeout":"","optout-learning":false,"x":300,"y":100,"wires":[["58c8e598.1598bc","30a129ff.3fd926","5d9e3c7f.a11864","2515704c.46f7"]]},{"id":"2a396b04.c5e8a4","type":"ui_text","z":"8d8a7de8.b4d02","group":"f9cd9657.6a57d8","order":2,"width":0,"height":0,"name":"","label":"User","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":340,"wires":[]},{"id":"58c8e598.1598bc","type":"function","z":"8d8a7de8.b4d02","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload= \"please rephrase your query\";\n    return msg;\n}\nmsg.payload= msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[["6c37f958.7979c8"]]},{"id":"30a129ff.3fd926","type":"debug","z":"8d8a7de8.b4d02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":100,"wires":[]},{"id":"6c37f958.7979c8","type":"ui_text","z":"8d8a7de8.b4d02","group":"f9cd9657.6a57d8","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":320,"wires":[]},{"id":"5d9e3c7f.a11864","type":"ui_template","z":"8d8a7de8.b4d02","group":"f9cd9657.6a57d8","name":"","order":3,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":180,"wires":[[]]},{"id":"2515704c.46f7","type":"ui_audio","z":"8d8a7de8.b4d02","name":"","group":"f9cd9657.6a57d8","voice":"en-US","always":"","x":680,"y":240,"wires":[]},{"id":"f9cd9657.6a57d8","type":"ui_group","z":"","name":"CHATBOT","tab":"17ed62fa.b9275d","order":1,"disp":true,"width":7,"collapse":false},{"id":"17ed62fa.b9275d","type":"ui_tab","z":"","name":"BANKING","icon":"dashboard","disabled":false,"hidden":false}]